@charset "UTF-8";
    * {
        margin: 0;
        padding: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    html {
        height: 100%;
    }
    body {
        background-color: white;
    }
    header {
        background-color: rgb(20, 20, 20);
        color: white;
        padding-top: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.780);
    }
    header > h1 {
        text-align: center;
        font-weight: bold;
    }
    nav {
        width: 100%;
        background-color: rgb(70, 70, 70);
        margin-top: 10px;
    }
    nav > a {
        color: var(--link-color);
        text-decoration: none;
        margin-right: 2%;
        width: 10%;
    }
    nav > a:hover {
        color: green;
        text-decoration: underline;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.780);

    }
    main {
        width: 70%;
        background-color: rgb(240, 240, 240);
        margin: auto;
        padding: 8px;
    }
    article > ul{
        list-style: inside;
        margin-left: 15px;
    }
    article > h2 {
        color: green;
    }
    article h3 {
        color:rgb(0, 124, 173);
    }
    article > p {
        text-align: justify;
    }
    section {
        background-color: rgb(200, 200, 200);
        margin-top: 5px;
        border-radius: 10px;
        padding: 5px;
    }
    section > h2{
        color: rgb(223, 189, 0);
    }
    section > h3 {
        color: rgb(134, 0, 146);
    }
    section > p {
        text-align: justify;
        margin: 8px 0px;
    }
    aside {
        background-color: white;
        color: black;
        border-radius: 10px;
        box-shadow: 2px 3px 10px rgba(15, 15, 15, 0.700);
    }
    aside > p {
        text-align: justify;
    }
    footer{
        background-color: rgb(20, 20, 20);
        color: white;
        padding: 10px;
        text-align: center;
    }