@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html{
    width: 100vw;
}
body{
    width: 100vw;
    background-color: rgb(127, 251, 255);
}

main{
    width: 80%;
    margin: auto;
    margin-top: 2%;
    padding: 2%;
    border-radius: 10px;
    background-color: white;
}
h1{
    color: rgb(255, 0, 0);
}
h1#principal{
    text-align: center;
    width: 100%;
    color: white;
    border-radius: 20px;
    background-color: cornflowerblue;
}
h2{
    color: green;
}
article{
    margin: 1%;
    border-radius: 10px;
    border: 1px solid black;
}